agm-map {
  height: 87vh;
  width: 100%;
}

.loading {
  height: 87vh;
}
.container {
  width: 90%;
  height: 100vh;
}

.btn-block {
  margin-top: 1vh;
  /* padding: 10% 0; */
}

.loc-text {
  white-space: nowrap;
}
